<% include header %>
<div class="content">
    <div class="wrap">
        <div class="content-grid">
            <p><img src="images/top.png" title="">
            </p>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#Hardware" aria-expanded="true" aria-controls="Hardware">
                          Hardware
                        </a>
                    </h4>
                </div>
                <div id="Hardware" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        * <a href="https://www.raspberrypi.org/products/raspberry-pi-3-model-b" target="_blank">Raspberry Pi 3 </a>
                        <br> * <a href="http://livebox.orange.es/b/inicio.html" target="_blank">LiveBox 2.0</a>
                        <br> * Fedora-Server-armhfp-25-1.3-sda.raw.xz --&gt; Descomprimir y renombrar a iso. Restarurar en SD (Pi Baker/WinFlashTool/Win32diskimager).
                        <br> * Agrandar <a href ="https://www.raspberrypi.org/forums/viewtopic.php?f=51&t=45265" targer="_blank" >partición</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#NoIp" aria-expanded="false" aria-controls="NoIp">
                          NoIp
                        </a>
                    </h4>
                </div>
                <div id="NoIp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        * <a href="http://www.noip.com/support/knowledgebase/installing-the-linux-dynamic-update-client/" target="_blank">No Ip</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#SSH" aria-expanded="false" aria-controls="SSH">
                          SSH Aceso Remoto
                        </a>
                    </h4>
                </div>
                <div id="SSH" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p><a href="https://linuxconfig.org/how-to-install-start-and-connect-to-ssh-server-on-fedora-linux" target="_blank">Configuración SSH</a></p>
                        <p> IPTables no configurado y firewalld <a href="https://www.liquidweb.com/kb/how-to-stop-and-disable-firewalld-on-centos-7/" target="_blank">desactivado</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#FTP" aria-expanded="false" aria-controls="FTP">
              Servicio FTP
            </a>
          </h4>
                </div>
                <div id="FTP" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p>Configuración e instalación del servicio <a href="http://www.krizna.com/centos/setup-ftp-server-centos-7-vsftp/" target="_blank">ftp</a></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#NodeJS" aria-expanded="false" aria-controls="NodeJS">
              NODE.JS
            </a>
          </h4>
                </div>
                <div id="NodeJS" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p>Instalamos Node</p>
                        <code>
              <p>yum install nodejs o  dnf install nodejs</p>
            </code>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#NGINX" aria-expanded="false" aria-controls="NGINX">NGINX</a></h4>
                </div>
                <div id="NGINX" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p>Instrucciones <a href="https://fernetjs.com/2013/03/nodejs-a-la-nube-con-nginx-en-un-vps/" target="_blank">NGINX</a></p>
                        <p> Posible solución al <a href="http://serverfault.com/questions/629318/nginx-proxy-pass-to-nodejs-app-returning-502-error">redireccionamiento</a></p>
                        <code>
                          <p>server {</p>
                             <p> listen 80;</p>
                              <p>server_name <b>no-ip domain</b>;</p>
                              <p>root /usr/share/nginx/html/<b>rootAplicación</b>;</p>
                              <p>location / {</p>
                                <p>proxy_pass http://localhost:3000/;</p>
                                <p>proxy_http_version 1.1;</p>
                                <p>proxy_set_header Upgrade $http_upgrade;</p>
                                <p>proxy_set_header Connection 'upgrade';</p>
                                <p>proxy_set_header Host $host;</p>
                                <p>proxy_cache_bypass $http_upgrade;</p>
                              <p>}</p>
                          <p>}</p>
                         </code>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#PM2" aria-expanded="false" aria-controls="PM2">Site como Servicio</a>
                    </h4>
                </div>
                <div id="PM2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p>PM2 <a target="_blank" href="https://www.digitalocean.com/community/tutorials/how-to-set-up-a-node-js-application-for-production-on-centos-7#install-pm2">Instalar y configurar PM2</a></p>
                        <p>* <a href="https://keymetrics.io/">keymetrics.io</a> recomendable para las metricas y estado del servidor y del site</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#JAVA8" aria-expanded="false" aria-controls="JAVA8">
                          JAVA8_111
                        </a>
                    </h4>
                </div>
                <div id="JAVA8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p>Para instalar JAVA8</p>
                        <code>
                          <p>cd /opt/
                          </p>
                          <p>wget download.oracle.com/otn-pub/java/jdk/8u111-b14/jdk-8u111-linux-arm32-vfp-hflt.tar.gz</p>
                          <p>tar -xvzf jdk-8u111-linux-arm32-vfp-hflt.tar.gz</p>
                          <p>rm jdk-8u111-linux-arm32-vfp-hflt.tar.gz</p>
                          <p>mv jdk1.8.0_111 /opt/java8_111</p>
                          <p>alternatives --install /usr/bin/java java /opt/java8_111/bin/java 1</p>
                          <p>alternatives --config java</p>
                        </code>
                        <p>* <a href="http://tecadmin.net/install-java-8-on-centos-rhel-and-fedora/" target="_blank">Documentación</a> para varias versiones de java</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#MongoDB" aria-expanded="false" aria-controls="MongoDB">
                          MongoDB
                        </a>
                    </h4>
                </div>
                <div id="MongoDB" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p>Para instalar MongoDB</p>
                        <code>
                            <p>yum install mongodb mongodb-server * dnf install mongodb mongodb-server</p>
                        </code>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#RabbitMQ" aria-expanded="false" aria-controls="RabbitMQ">
                          RabbitMQ
                        </a>
                    </h4>
                </div>
                <div id="RabbitMQ" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p>Para instalar RabbitMQ</p>
                        <code>
                            <p>yum install rabbitmq-server * dnf install rabbitmq-server</p>
                        </code>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer %>